---
import { Icon } from "astro-iconify";
import Logo from "~/components/atoms/Logo.astro";
import ToggleMenu from "../core/ToggleMenu.astro";

import { trimSlash } from "~/utils/permalink";
import LanguageSwitcher from "../atoms/LanguageSwitcher.astro";
import { url } from "~/i18n";

const { document } = Astro.props;
const { locale: currentLocale } = Astro.params;

const menuitems = [
  { label: "Blog", id: "blog", onlymobile: false },
  { label: "FAQ", id: "faq", onlymobile: false },
  { label: "Team", id: "team", onlymobile: false },
  { label: "Login", link: "https://app.ecamp3.ch", onlymobile: true, target: '_blank' },
  { label: "Github", link: "https://github.com/ecamp/ecamp3", onlymobile: true },
  { label: "Contact", id: "contact", onlymobile: true },
];

---

<header
  class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
>
  <div
    class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href={url("index", currentLocale)}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden gap-1.5">
        <LanguageSwitcher document={document} />
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base"
      >
        {
          menuitems.map(({ label, id, link, onlymobile, target = null }) => (
            <li class={onlymobile ? "md:hidden" : null}>
              <a
                class:list={[
                  "hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out",
                  trimSlash(Astro.url.pathname ?? '') == (link ?? trimSlash(url(id, currentLocale)))
                    ? "font-semibold"
                    : "font-normal",
                ]}
                target={target}
                href={link ?? url(id, currentLocale)}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="md:self-center hidden md:flex items-center mb-4 md:mb-0 ml-2">
        <div class="hidden items-center md:flex">
          <a
          class="leading-[1.25rem] text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-base p-2.5 inline-flex items-center"
          href="https://app.ecamp3.ch"
          target='_blank'
          >
          Login
          </a>
          <a
            href={url("contact", currentLocale)}
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label="Email"
          >
            <Icon name="tabler:mail" class="w-5 h-5" />
          </a>
          <a
            href="https://github.com/ecamp/ecamp3"
            class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
            aria-label="eCamp Github"
          >
            <Icon name="tabler:brand-github" class="w-5 h-5" />
          </a>
          <LanguageSwitcher document={document} />
        </div>
      </div>
    </nav>
  </div>
</header>
