---
const {title, description,primary,secondary} = Astro.props;
---

<style>
  .herobanner {
    background-image: url(~/assets/images/080720_lotos_7896_small.jpg);
    background-size: cover;
    background-position: center;
  }
  .herobanner--text {
    background: linear-gradient(to right, black, transparent);
  }
</style>

<section
  class="relative herobanner grid md:grid-cols-[2fr_1fr] lg:grid-cols-[3fr_2fr] xl:grid-cols-2"
>
  <div
    class="herobanner--text text-white p-12 md:p-20 lg:p-24 max-w-3xl"
  >
    <h1
      class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
    >
      {title}
    </h1>
    <p class="text-xl xs:text-2xl font-light mb-8 leading-relaxed">
      {description}
    </p>
    <div class="max-w-none flex flex-wrap gap-4">
      <div>
        <a
          class="btn primary text-lg"
          href="https://app-alpha.ecamp3.ch"
          target="_blank"
          rel="noopener">{primary}</a
        >
      </div>
      <div>
        <a
          class="btn secondary text-lg"
          href="#features">{secondary}</a
        >
      </div>
    </div>
  </div>
</section>
