---
import HighlightsItem from "~/components/blog/highlights/Item.astro";

import { getContent } from "~/utils/content";

const { title, description } = Astro.props;

const posts = [(await getContent("posts")).filter(
  (post) => post.params.locale == Astro.params.locale
)[0]];
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="flex flex-col mb-6 md:mb-8">
    {
      title && (
        <h2 class="max-w-lg mx-auto text-center mb-2 text-4xl sm:text-5xl font-bold sm:leading-none lg:mb-5 group font-heading">
          {title}
        </h2>
      )
    }
    <div class="text-gray-700 dark:text-slate-400 mx-auto">
      <div class="prose prose-md lg:prose-lg dark:prose-invert">
        <slot />
      </div>
    </div>
  </div>

  <div
    class="flex flex-wrap gap-6 row-gap-5 -mb-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-center"
  >
    {posts.map(({ props }) => <HighlightsItem {...props.contents} id={props.id} />)}
  </div>
</section>
