---
import Picture from "~/components/core/Picture.astro";

import {getLink} from "~/permalink";

const { document, data } = Astro.props;
---

<article class="mb-6 transition max-w-xl">
  {
    data.image && (
      <a
        href={getLink(document.id, Astro.params.locale, 'posts')}
        class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
      >
        <Picture
          src={data.image}
          class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
          config={[{ sourceType: 'width', formats: ['avif','webp'], widths: [343, 443, 547, 670], sizes:"(min-width:578px) 547px, (min-width: 1536px) 670px, calc(100vw - 32px)", retina: true }]}
          alt={data.image.alt || data.description}
        />
      </a>
    )
  }
  <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading">
    <a
      href={getLink(document.id, Astro.params.locale, 'posts')}
      class="hover:text-primary-600 hover:underline underline-offset-4 decoration-1 transition ease-in duration-200"
    >
      {data.title}
    </a>
  </h3>
  <p class="text-gray-700 dark:text-gray-400">
    {data.excerpt || data.description}
  </p>
</article>
