---
import type { DocumentInfo } from "~/i18n/schema";

interface Props {
  document: DocumentInfo;
}
const { document } = Astro.props;

const otherLangs = Object.entries(document.translations).filter(
  ([lang]) => lang !== Astro.params.locale,
);

const [lang, url] = otherLangs[0];
---

<a
  class="leading-[1.25rem] text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-base p-2.5 inline-flex items-center"
  href={url}
>
  {lang.toUpperCase()}
</a>
