---
import Layout from "~/layouts/BaseLayout.astro";
import Header from "~/components/widgets/Header.astro";
import Footer from "~/components/widgets/Footer.astro";

const { meta, document } = Astro.props;
---

<Layout meta={meta}>
  <Header document={document} />
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
